:root{
	--brown:#3E293A;
	--button:#F1794D;
	--litepink:#FBE0D7;
	--litegreen:#40968B;
	--blue:#1421A3;
	--red:#CC1A1A;
	--sidebar:#f6f6f6;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*=============== top_bar ===============*/
.top_bar{
	width: 100%;
	height: auto;
	background-color: var(--brown);
	color: white;
	/*padding-right: 100px;*/
}
.top_bar p{
	float: left;
	padding-top: 1rem;
	font-size: 14px;
	padding-right: 1rem;
}
.lang{
	cursor: pointer;
}
.bttn{
	background-color: var(--button);
	height: auto;
	width: 100px;
	padding: 5px;
	color: white;
	border:none;
	font-weight: 600;
	margin: 10px;
	float: right;
	transition: all .3s;
	-webkit-transition:all .3s;
	-moz-transition:all .3s;
	-ms-transition:all .3s;
	-o-transition:all .3s;
	cursor: pointer;
}
@media only screen and (max-width: 600px){
	.top_bar .help{
		display: none;
	}
	.top_bar{
		width: 50%;
	}
}
@media only screen and (min-width: 600px) and (max-width: 991px) {
    .top_bar .help{
		display: none;
	}
}